conf/mdm_response_zte_9xxx.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespaces="http://www.mg.com.ar/MDM-Protocol" xmlns="http://www.mg.com.ar/MDM-Protocol"
	elementFormDefault="qualified"
>

<xs:element name="mdm_response">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="version" type="xs:string" fixed="0.1.1"/>
			<xs:element name="originalresponse" type="xs:string"/>
			<xs:element name="result">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="-1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="message" type="xs:string"/>
			<xs:element name="data" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element name="zte_9xxx_portlistfull">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="port" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="slot" type="xs:string"/>
												<xs:element name="port" type="xs:string"/>
												<xs:element name="admin-status" type="xs:string"/>
												<xs:element name="link-status" type="xs:string"/>
												<xs:element name="up" type="xs:string"/>
												<xs:element name="down" type="xs:string"/>
                                    <xs:element name="coding" type="xs:string"/>
                                    <xs:element name="type" type="xs:string"/>
												<xs:element name="service-profile" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="zte_9xxx_ntp">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="status" type="xs:string"/>
									<xs:element name="interval" type="xs:string"/>
									<xs:element name="timezone" type="xs:string"/>
									<xs:element name="server" type="xs:string"/>
									<xs:element name="stratum" type="xs:string"/>
									<xs:element name="clockstatus" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="zte_9xxx_scb">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name" type="xs:string"/>
									<xs:element name="status" type="xs:string"/>
									<xs:element name="minicard-type" type="xs:string"/>
									<xs:element name="switch-devices" type="xs:string"/>
									<xs:element name="position" type="xs:string"/>
									<xs:element name="sync" type="xs:string"/>
									<xs:element name="swap-permit" type="xs:string"/>
									<xs:element name="cpu" type="xs:string"/>
									<xs:element name="memory" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="zte_9xxx_portprofile">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="serviceprofile" type="xs:string"/>
									<xs:element name="alarmprofile" type="xs:string"/>
									<xs:element name="pmconfpmsf" type="xs:string"/>
									<xs:element name="pmstate" type="xs:string"/>
									<xs:element name="transatucconfig" type="xs:string"/>
									<xs:element name="transatucactual" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="zte_9xxx_profile">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AtucChanConfFastMinTxRate" type="xs:string"/>
									<xs:element name="AtucChanConfInterMinTxRate" type="xs:string"/>
									<xs:element name="AtucChanConfFastMaxTxRate" type="xs:string"/>
									<xs:element name="AtucChanConfInterMaxTxRate" type="xs:string"/>
									<xs:element name="AtucChanConfMaxInterDelay" type="xs:string"/>
									<xs:element name="AturChanConfFastMinTxRate" type="xs:string"/>
									<xs:element name="AturChanConfInterMinTxRate" type="xs:string"/>
									<xs:element name="AturChanConfFastMaxTxRate" type="xs:string"/>
									<xs:element name="AturChanConfInterMaxTxRate" type="xs:string"/>
									<xs:element name="AturChanConfMaxInterDelay" type="xs:string"/>
									<xs:element name="ConfProfileLineType" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="zte_9xxx_slot">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="configured-type" type="xs:string"/>
									<xs:element name="run-type" type="xs:string"/>
									<xs:element name="card-hardver" type="xs:string"/>
									<xs:element name="card-status" type="xs:string"/>
									<xs:element name="switch-devices" type="xs:string"/>
									<xs:element name="link-master-scb" type="xs:string"/>
									<xs:element name="loopcheck-interval" type="xs:string" minOccurs="0" maxOccurs="1"/>
									<xs:element name="cpu" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="zte_9xxx_uptime">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="years">
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:minInclusive value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="months">
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:minInclusive value="0"/>
												<xs:maxInclusive value="11"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="days">
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:minInclusive value="0"/>
												<xs:maxInclusive value="364"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="hours">
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:minInclusive value="0"/>
												<xs:maxInclusive value="23"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="minutes">
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:minInclusive value="0"/>
												<xs:maxInclusive value="59"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="seconds">
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:minInclusive value="0"/>
												<xs:maxInclusive value="59"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="zte_9xxx_pvclist">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="pvc" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="slot" type="xs:string"/>
												<xs:element name="port" type="xs:string"/>
												<xs:element name="id" type="xs:string"/>
												<xs:element name="vpi" type="xs:string"/>
												<xs:element name="vci" type="xs:string"/>
												<xs:element name="status" type="xs:string"/>
<!--												<xs:element name="description" type="xs:string"/> -->
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="zte_9xxx_soft_version">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="soft" maxOccurs="2" minOccurs="2">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="id" type="xs:string"/>
												<xs:element name="name" type="xs:string"/>
												<xs:element name="state" type="xs:string"/>
												<xs:element name="size" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="bootversion" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="zte_9xxx_serviceprofilelist">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="serviceprofile" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="name" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="zte_9xxx_running_config">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="config" minOccurs="1" maxOccurs="1" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="zte_9xxx_slotlist">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="slot" minOccurs="1" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="id" type="xs:string"/>
												<xs:element name="type" type="xs:string"/>
												<xs:element name="state" type="xs:string"/>
												<xs:element name="cardtype" type="xs:string"/>
												<xs:element name="softversion" type="xs:string"/>
												<xs:element name="portnum" type="xs:string"/>
												<xs:element name="porttype" type="xs:string"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
                        <xs:element name="zte_9xxx_port_mac">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="port" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="device" type="xs:string"/>
                                                <xs:element name="mac" type="xs:string"/>
                                                <xs:element name="vlan" type="xs:string"/>
                                                <xs:element name="pvc" type="xs:string"/>
                                                <xs:element name="macnumber" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="zte_9xxx_routelist">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="route" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="destination" type="xs:string"/>
                                                <xs:element name="netmask" type="xs:string"/>
                                                <xs:element name="gateway" type="xs:string"/>
                                                <xs:element name="status" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="zte_9xxx_port_full">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="port" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="id" type="xs:string"/>
                                                <xs:element name="name" type="xs:string"/>
                                                <xs:element name="pvid-1" type="xs:string"/>
                                                <xs:element name="pvid-2" type="xs:string"/>
                                                <xs:element name="pvid-3" type="xs:string"/>
                                                <xs:element name="pvid-4" type="xs:string"/>
                                                <xs:element name="pvid-5" type="xs:string"/>
                                                <xs:element name="pvid-6" type="xs:string"/>
                                                <xs:element name="pvid-7" type="xs:string"/>
                                                <xs:element name="pvid-8" type="xs:string"/>
                                                <xs:element name="psvid-1" type="xs:string"/>
                                                <xs:element name="psvid-2" type="xs:string"/>
                                                <xs:element name="psvid-3" type="xs:string"/>
                                                <xs:element name="psvid-4" type="xs:string"/>
                                                <xs:element name="psvid-5" type="xs:string"/>
                                                <xs:element name="psvid-6" type="xs:string"/>
                                                <xs:element name="psvid-7" type="xs:string"/>
                                                <xs:element name="psvid-8" type="xs:string"/>
                                                <xs:element name="irl-pvc-1" type="xs:string"/>
                                                <xs:element name="irl-pvc-2" type="xs:string"/>
                                                <xs:element name="irl-pvc-3" type="xs:string"/>
                                                <xs:element name="irl-pvc-4" type="xs:string"/>
                                                <xs:element name="irl-pvc-5" type="xs:string"/>
                                                <xs:element name="irl-pvc-6" type="xs:string"/>
                                                <xs:element name="irl-pvc-7" type="xs:string"/>
                                                <xs:element name="irl-pvc-8" type="xs:string"/>
                                                <xs:element name="admin-status" type="xs:string"/>
                                                <xs:element name="atuc-loop-type" type="xs:string"/>
                                                <xs:element name="oper-status" type="xs:string"/>
                                                <xs:element name="if-type" type="xs:string"/>
                                                <xs:element name="if-mtu" type="xs:string"/>
                                                <xs:element name="cos-pvc-1" type="xs:string"/>
                                                <xs:element name="cos-pvc-2" type="xs:string"/>
                                                <xs:element name="cos-pvc-3" type="xs:string"/>
                                                <xs:element name="cos-pvc-4" type="xs:string"/>
                                                <xs:element name="cos-pvc-5" type="xs:string"/>
                                                <xs:element name="cos-pvc-6" type="xs:string"/>
                                                <xs:element name="cos-pvc-7" type="xs:string"/>
                                                <xs:element name="cos-pvc-8" type="xs:string"/>
                                                <xs:element name="trap" type="xs:string"/>
                                                <xs:element name="max-mac-learn" type="xs:string"/>
                                                <xs:element name="fast-leave" type="xs:string"/>
                                                <xs:element name="group-limit" type="xs:string"/>
                                                <xs:element name="group-band" type="xs:string"/>
                                                <xs:element name="rmon-history" type="xs:string"/>
                                                <xs:element name="pppoe-plus" type="xs:string"/>
                                                <xs:element name="dhcp-option82" type="xs:string"/>
                                                <xs:element name="dhcp-sub-option" type="xs:string"/>
                                                <xs:element name="dhcp-sub-option-remote-id" type="xs:string"/>
                                                <xs:element name="atm-pvc-1" type="xs:string"/>
                                                <xs:element name="atm-pvc-2" type="xs:string"/>
                                                <xs:element name="atm-pvc-3" type="xs:string"/>
                                                <xs:element name="atm-pvc-4" type="xs:string"/>
                                                <xs:element name="atm-pvc-5" type="xs:string"/>
                                                <xs:element name="atm-pvc-6" type="xs:string"/>
                                                <xs:element name="atm-pvc-7" type="xs:string"/>
                                                <xs:element name="atm-pvc-8" type="xs:string"/>
                                                <xs:element name="atm-status-pvc-1" type="xs:string"/>
                                                <xs:element name="atm-status-pvc-2" type="xs:string"/>
                                                <xs:element name="atm-status-pvc-3" type="xs:string"/>
                                                <xs:element name="atm-status-pvc-4" type="xs:string"/>
                                                <xs:element name="atm-status-pvc-5" type="xs:string"/>
                                                <xs:element name="atm-status-pvc-6" type="xs:string"/>
                                                <xs:element name="atm-status-pvc-7" type="xs:string"/>
                                                <xs:element name="atm-status-pvc-8" type="xs:string"/>
                                                <xs:element name="qos-profile" type="xs:string"/>
                                                <xs:element name="trust-pvc-1" type="xs:string"/>
                                                <xs:element name="trust-pvc-2" type="xs:string"/>
                                                <xs:element name="trust-pvc-3" type="xs:string"/>
                                                <xs:element name="trust-pvc-4" type="xs:string"/>
                                                <xs:element name="trust-pvc-5" type="xs:string"/>
                                                <xs:element name="trust-pvc-6" type="xs:string"/>
                                                <xs:element name="queue-buffer-1" type="xs:string"/>
                                                <xs:element name="queue-buffer-2" type="xs:string"/>
                                                <xs:element name="queue-buffer-3" type="xs:string"/>
                                                <xs:element name="queue-buffer-4" type="xs:string"/>
                                                <xs:element name="adsl-profile" type="xs:string"/>
                                                <xs:element name="alarm-profile" type="xs:string"/>
                                                <xs:element name="fast-leave" type="xs:string"/>
                                                <xs:element name="type" type="xs:string"/>
                                                <xs:element name="coding" type="xs:string"/>
                                                <xs:element name="pvc" type="xs:string"/>
                                                <xs:element name="link-status" type="xs:string"/>
                                                <xs:element name="duplex-speed" type="xs:string"/>
                                                <xs:element name="vlan-tag"  minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                                                <xs:element name="vlan-untag"  minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                        <xs:element name="zte_9xxx_physicalinfo">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="atuc-vendor" type="xs:string"/>
                                    <xs:element name="atuc-snrmgn" type="xs:string"/>
                                    <xs:element name="atuc-atn" type="xs:string"/>
                                    <xs:element name="atuc-output" type="xs:string"/>
                                    <xs:element name="atuc-attainable" type="xs:string"/>
                                    <xs:element name="atur-vendor" type="xs:string"/>
                                    <xs:element name="atur-atn" type="xs:string"/>
                                    <xs:element name="atur-output" type="xs:string"/>
                                    <xs:element name="atur-attainable" type="xs:string"/>
                                    <xs:element name="atuc-dmt" type="xs:string"/>
                                    <xs:element name="atur-dmt" type="xs:string"/>
                                    <xs:element name="atuc-prevsnrmgn" type="xs:string"/>
                                    <xs:element name="atuc-prevatn" type="xs:string"/>
                                    <xs:element name="atuc-prev-attainable" type="xs:string"/>
                                    <xs:element name="atur-prevsnrmgn" type="xs:string"/>
                                    <xs:element name="atur-prevatn" type="xs:string"/>
                                    <xs:element name="atur-prev-attainable" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="zte_9xxx_network_info">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="inband-mac" type="xs:string"/>
                                    <xs:element name="outbound-ip" type="xs:string"/>
                                    <xs:element name="outbound-mask" type="xs:string"/>
                                    <xs:element name="outbound-mac" type="xs:string"/>
                                    <xs:element name="address" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="ip" type="xs:string"/>
                                                <xs:element name="netmask" type="xs:string"/>
                                                <xs:element name="vid" type="xs:string"/>
                                                <xs:element name="status" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="zte_9xxx_channel_info">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="atuc-interdelay" type="xs:string"/>
                                    <xs:element name="atuc-currtxrate" type="xs:string"/>
                                    <xs:element name="atuc-prevtxrate" type="xs:string"/>
                                    <xs:element name="atuc-crclen" type="xs:string"/>
                                    <xs:element name="atur-interdelay" type="xs:string"/>
                                    <xs:element name="atur-currtxrate" type="xs:string"/>
                                    <xs:element name="atur-prevtxrate" type="xs:string"/>
                                    <xs:element name="atur-crclen" type="xs:string"/>
                                    <xs:element name="atuc-rssymbols" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="atuc-rsdepth" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="atuc-rsredundancy" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="atur-rssymbols" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="atur-rsdepth" minOccurs="0" maxOccurs="unbounded"/>
                                    <xs:element name="atur-rsredundancy" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>
