conf/mdm_response_siemens_hix5300.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespaces="http://www.netlabs.com.ar/MDM-Protocol" xmlns="http://www.netlabs.com.ar/MDM-Protocol"
    elementFormDefault="qualified"
>

<xs:element name="mdm_response">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="version" type="xs:string" fixed="0.1.1"/>
            <xs:element name="originalresponse" type="xs:string"/>
            <xs:element name="result">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="-1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="message" type="xs:string"/>
            <xs:element name="data" minOccurs="0">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="siemens_hix5300_version">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="version" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="siemens_hix5300_ntp">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="interval" type="xs:string"/>
                                    <xs:element name="server" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="siemens_hix5300_soft_versions">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="os1-version" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                    <xs:element name="os1-description" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                    <xs:element name="os2-version" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                    <xs:element name="os2-description" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                    <xs:element name="running-version" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                    <xs:element name="running-slot" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="siemens_hix5300_memory">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="summary-total" type="xs:string"/>
                                    <xs:element name="summary-used" type="xs:string"/>
                                    <xs:element name="summary-free" type="xs:string"/>
                                    <xs:element name="summary-shared" type="xs:string"/>
                                    <xs:element name="summary-buffers" type="xs:string"/>
                                    <xs:element name="summary-cached" type="xs:string"/>
                                    <xs:element name="total" type="xs:string"/>
                                    <xs:element name="free" type="xs:string"/>
                                    <xs:element name="cached" type="xs:string"/>
                                    <xs:element name="swap-cached" type="xs:string"/>
                                    <xs:element name="active" type="xs:string"/>
                                    <xs:element name="inactive" type="xs:string"/>
                                    <xs:element name="hightotal" type="xs:string"/>
                                    <xs:element name="highfree" type="xs:string"/>
                                    <xs:element name="lowtotal" type="xs:string"/>
                                    <xs:element name="lowfree" type="xs:string"/>
                                    <xs:element name="swaptotal" type="xs:string"/>
                                    <xs:element name="swapfree" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="siemens_hix5300_network_interfaces">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="interface" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="name" type="xs:string"/>
                                                <xs:element name="ip" type="xs:string"/>
                                                <xs:element name="status" type="xs:string"/>
                                                <xs:element name="protocol" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="siemens_hix5300_fans">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="fan" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="status" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="siemens_hix5300_syslog">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="syslog_route" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="level" type="xs:string"/>
                                                <xs:element name="type" type="xs:string"/>
                                                <xs:element name="destination" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="siemens_hix5300_line_config">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="slot" minOccurs="0"/>
                                    <xs:element name="port" minOccurs="0"/>
                                    <xs:element name="admin" minOccurs="0"/>
                                    <xs:element name="mode" minOccurs="0"/>
                                    <xs:element name="type" minOccurs="0"/>
                                    <xs:element name="speed-up" minOccurs="0"/>
                                    <xs:element name="speed-down" minOccurs="0"/>
                                    <xs:element name="snr-up" minOccurs="0"/>
                                    <xs:element name="snr-down" minOccurs="0"/>
                                    <xs:element name="interleave-delay-up" minOccurs="0"/>
                                    <xs:element name="interleave-delay-down" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="siemens_hix5300_alarms" type="xs:string"/>
                        <xs:element name="siemens_hix5300_uptime" type="xs:string"/>
                        <xs:element name="siemens_hix5300_physical_ports">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="physicalport" minOccurs="1" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="slot" type="xs:string"/>
                                                <xs:element name="port" type="xs:string"/>
                                                <xs:element name="line-profile" type="xs:string"/>
                                                <xs:element name="alarm-profile" type="xs:string"/>
                                                <xs:element name="line-type" type="xs:string"/>
                                                <xs:element name="atuc-capability" type="xs:string"/>
                                                <xs:element name="atur-capability" type="xs:string"/>
                                                <xs:element name="atuc-actualcapability" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="siemens_hix5300_slotlist">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="slot" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="id" type="xs:string"/>
                                                <xs:element name="uport" type="xs:string"/>
                                                <xs:element name="name" type="xs:string"/>
                                                <xs:element name="tx-pause" type="xs:string"/>
                                                <xs:element name="tx-pause" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="siemens_hix5300_serviceprofilelist">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="serviceprofile" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="name" type="xs:string"/>
                                                <xs:element name="ratemode" type="xs:string"/>
                                                <xs:element name="target-snr-up" type="xs:string"/>
                                                <xs:element name="target-snr-down" type="xs:string"/>
                                                <xs:element name="atuc-max-snr" type="xs:string"/>
                                                <xs:element name="atuc-min-snr" type="xs:string"/>
                                                <xs:element name="atur-max-snr" type="xs:string"/>
                                                <xs:element name="atur-min-snr" type="xs:string"/>
                                                <xs:element name="atuc-shift-snr-up" type="xs:string"/>
                                                <xs:element name="atuc-shift-snr-down" type="xs:string"/>
                                                <xs:element name="atur-shift-snr-up" type="xs:string"/>
                                                <xs:element name="atur-shift-snr-down" type="xs:string"/>
                                                <xs:element name="atuc-minshift-snr-up" type="xs:string"/>
                                                <xs:element name="atuc-minshift-snr-down" type="xs:string"/>
                                                <xs:element name="atur-minshift-snr-up" type="xs:string"/>
                                                <xs:element name="atur-minshift-snr-down" type="xs:string"/>
                                                <xs:element name="fast-min-rate-up" type="xs:string"/>
                                                <xs:element name="fast-min-rate-down" type="xs:string"/>
                                                <xs:element name="fast-max-rate-up" type="xs:string"/>
                                                <xs:element name="fast-max-rate-down" type="xs:string"/>
                                                <xs:element name="interleave-min-up" type="xs:string"/>
                                                <xs:element name="interleave-min-down" type="xs:string"/>
                                                <xs:element name="interleave-max-up" type="xs:string"/>
                                                <xs:element name="interleave-max-down" type="xs:string"/>
                                                <xs:element name="interleave-delay-up" type="xs:string"/>
                                                <xs:element name="interleave-delay-down" type="xs:string"/>
                                                <xs:element name="interleave-correction-time-up" type="xs:string"/>
                                                <xs:element name="interleave-correction-time-down" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
